.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  list-style-type: none;
  border: 1px solid #f42e58;
  margin: 10px;
  padding-top: 10px;
  width: 1080px;
  padding-bottom: 10px;
  background-color: lightseagreen;
}
.bttn {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  background-color: lightseagreen;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
.imgs {
  height: 20px;
}

.col{
  display: inline-block;
  margin: 40px;
}